In [1]:
import pandas as pd
x = {
    'a': [1,2,3,4,5,6,7],
    'b': [3,3,4,5,5,5,6]
}
xdf = pd.DataFrame(x)
xdf

   a  b
0  1  3
1  2  3
2  3  4
3  4  5
4  5  5
5  6  5
6  7  6

In [4]:
xdf['b'].std() # variance
standard_deviation = xdf['b'].std()
print("Standard Deviation of column 'b':", standard_deviation)

Standard Deviation of column 'b': 1.1338934190276817

In [9]:
import numpy as np
class1 = np.array([45, 56, 67, 78, 89])
class2 = np.array([50, 60, 70, 80, 90])

mean = sum(class1) / len(class1)
print("Mean of class1:", mean)

variance = np.array([(x - mean) ** 2 for x in class1]).mean()
print("Variance of class1:", variance)

Mean of class1: 67.0
Variance of class1: 242.0

In [5]:
xdf['b'].var()
variance = xdf['b'].var()
print("Variance of column 'b':", variance)

Variance of column 'b': 1.2857142857142856

In [6]:
xdf['b'].count()

7